<! name:Brandon shiwsanakr
Student number: 301068399
Date: 9/8/2020
file name: index
>

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
<style>
    body {
        background: lightblue;
    }
</style>

  <main class="container">
      <div>
          <h1 class="display-4" style="text-align: center;">Welcome to the <%= title %> page of Baby Survey</h1>
        </div>
  </main>

<div>
  <h3></h3>
  <p></p>
</div>


<p>Click here to <a href="/survey">create a survey.</a></p>
<p>Click here to <a href="contact">contact me</a></p>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>